/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    text-align: center;
}

p {
    font-size: 1em;
    margin: 0 auto 1.8em auto;
    padding: 0 15px;;
    width: 85%;
}

img {
    max-width: 90%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
    font-size: 2.25em;
    padding: 1em;
    margin: 0 auto;
}

.main-nav {
    margin-top: 5px;
}

.name a,
.main-nav a {
    text-decoration: none;
    color: #3a3a3a;
    text-align: center;
    display: block;
    width: 90%;
    margin: 0 auto;
}

.main-nav a {
    background: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px 15px;
}

/* ---- Layout Containers ---- */

.profile-pic {
    max-width: 65%;
}

.top-header,
.banner {
    background: ghostwhite;
    max-width: 100%;
    padding-bottom: 1.8em;
}

.primary {
    font-size: 1.2em;
    color:grey;
    padding: 0 15px;
}

.secondary h3 {
    margin: 2em auto;
}

.secondary-titles {
    margin: 15px 0 10px 0;
}

.contact {
    padding-top: 50px;
}

.footer {
    background: ghostwhite;
}

.footer-p {
    color:grey;
}

.ft-email {
    padding-bottom: 50px;
    margin-bottom: 0;
    border-bottom:  .5px solid lightgrey;
    width: 90%;
}

.footer-name {
    float:left;
    padding: 0;
    margin-top: 0;
}

.main-footer {
    width: 90%;
    margin: 0 auto;
}

.footer-link a {
    text-decoration: none;
    float: right;
    color: #3a3a3a;
    padding: 0;
}

/* ---- Page Elements ---- */


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    body {
        background: black;

        
    };
}



	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

